source/Representation/Resources/RepresentationSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Tarak Reddy (DEERE & CO) -->
<xs:schema xmlns:unit="urn:schemas-adapt-aggateway-org:UnitSystem" xmlns:rep="urn:schemas-adapt-aggateway-org:Representation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bt="urn:schemas-adapt-aggateway-org:BasicTypes" targetNamespace="urn:schemas-adapt-aggateway-org:Representation" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0.1">
	<xs:import namespace="urn:schemas-adapt-aggateway-org:BasicTypes" schemaLocation="basictypes.xsd"/>
	<xs:import namespace="urn:schemas-adapt-aggateway-org:UnitSystem" schemaLocation="UnitSystem.xsd"/>
	<xs:simpleType name="repShortNameType">
		<xs:annotation>
			<xs:documentation>Limits the translations to 25 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RepresentationSystem">
		<xs:annotation>
			<xs:documentation>Root node of document.  This document defines constants type related information for use by RCD file specifications.  Only one file will exist using this schema that will be used as the master reference for all type information.  Versioning of this schema or the information in the master type definition file may constitute a version change in the RCD log file spec and other file specs that utilize this information as a reference.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SchemaVersion">
					<xs:annotation>
						<xs:documentation>Specifies the schema or format version of the file.
major format changes require new readers of this file type that understand that major version number.
Minor version changes reflect additions of attrubutes or nodes that can be ignored by previous version readers within the same major version number.
<CurrentFileSchemaVersion major="1" minor="1"/>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="major" type="xs:int" use="required" fixed="1"/>
						<xs:attribute name="minor" type="xs:int" use="required" fixed="1"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ContentVersion">
					<xs:annotation>
						<xs:documentation>Specifies the content version of the file.  It is assume that all readers will be forward compatible with all content versions of the same major version number as no changes can be made to delete unit dimensions, unit of measures or unit of measure systems.  Only additions of unit dimensions, unit of measures or unit of measure systems will be made.
Changes to or deletions of unit dimensions, unit of measures, or unit of measure systems will require an increment of a major version number.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="major" type="xs:int" use="required"/>
						<xs:attribute name="minor" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Representations">
					<xs:annotation>
						<xs:documentation>Numeric Representations are the basic construct used to associate, interpretation and presentation related information to values.  This allows a system to distinguish differences between units types and their use.  (ex. utDistance used for Depth, Width, Distance across field, UTM northing, easting, Sprayer application height, etc.)</xs:documentation>
						<xs:documentation>Operational variables are the basic construct used to associate, interpretation and presentation related information to values.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NumericRepresentation" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A Numeric Representation is comprised of a domainID, domainTag, name, reference to a unit dimension and other presentation information.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="UnitOfMeasureDefault">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="rep:UnitOfMeasurePreferenceType"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="UnitOfMeasurePreference">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="rep:UnitOfMeasurePreferenceType"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:element name="UnitDimensionRef">
											<xs:complexType>
												<xs:attribute name="unitDimension" type="unit:unitDimensionDomainID" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Name" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="locale" type="bt:languageCode" use="required"/>
														<xs:attribute name="description" type="xs:string" use="optional"/>
														<xs:attribute name="prefix" type="xs:string" use="optional"/>
														<xs:attribute name="postfix" type="xs:string" use="optional"/>
														<xs:attribute name="alternateLabel" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation>Optional:  Specifies a unit of measure label to use if the one for the referenced unit of measure is not acceptable for this Numeric Representation.
If not present the unit of measure lable will be used.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RelatedDDI" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="ddi" type="xs:int" use="required"/>
												<xs:attribute name="unitOfMeasure" type="unit:unitOfMeasureDomainID" use="required"/>
												<xs:attribute name="resolution" type="xs:double" default="1"/>
												<xs:attribute name="offset" type="xs:double" default="0"/>
                        <xs:attribute name="isDefaultRepresentationForDDI" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="domainID" type="rep:NumericRepresentationDomainID" use="required"/>
									<xs:attribute name="domainTag" type="xs:long" use="required"/>
									<xs:attribute name="digits" type="xs:short" use="required"/>
									<xs:attribute name="decimal" type="xs:short" use="required"/>
								</xs:complexType>
								<xs:unique name="LocalUniqunessWithinNumericRepresentationRS">
									<xs:selector xpath=".//rep:Name"/>
									<xs:field xpath="@locale"/>
								</xs:unique>
								<xs:unique name="UOMSystemAndUOMUniquenessRS">
									<xs:selector xpath=".//rep:UnitOfMeasureDefault"/>
									<xs:field xpath="@unitOfMeasureSystem"/>
								</xs:unique>
								<xs:unique name="UOMUniquenessRS">
									<xs:selector xpath=".//rep:UnitOfMeasurePreference"/>
									<xs:field xpath="@unitOfMeasure"/>
									<xs:field xpath="@unitOfMeasureSystem"/>
								</xs:unique>
								<xs:unique name="UOMUniquenessRSAll">
									<xs:selector xpath=".//rep:UnitOfMeasurePreference|.//rep:UnitOfMeasureDefault"/>
									<xs:field xpath="@unitOfMeasure"/>
									<xs:field xpath="@unitOfMeasureSystem"/>
								</xs:unique>
							</xs:element>
							<xs:element name="EnumeratedRepresentation" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="locale" type="bt:languageCode" use="required"/>
														<xs:attribute name="description" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="EnumeratedMember" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Name" maxOccurs="unbounded">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="rep:repShortNameType">
																		<xs:attribute name="locale" type="bt:languageCode" use="required"/>
																		<xs:attribute name="description" type="xs:string" use="optional"/>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="domainID" type="rep:EnumeratedMemberRepresentationDomainID" use="required"/>
													<xs:attribute name="domainTag" type="xs:long" use="required"/>
													<xs:attribute name="refID" type="xs:int" use="optional">
														<xs:annotation>
															<xs:documentation>SST ref ID</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
												<xs:unique name="LocalUniqunessWithinEnumeratedMemberRS">
													<xs:selector xpath="rep:Name"/>
													<xs:field xpath="@locale"/>
												</xs:unique>
											</xs:element>
											<xs:element name="EnumeratedRepresentationRef" maxOccurs="unbounded">
												<xs:complexType>
													<xs:attribute name="EnumeratedRepresentationID" type="rep:EnumeratedRepresentationDomainID" use="optional"/>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:element name="RelatedDDI" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="ddi" type="xs:int" use="required"/>
                        <xs:attribute name="isDefaultRepresentationForDDI" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="domainID" type="rep:EnumeratedRepresentationDomainID" use="required"/>
									<xs:attribute name="domainIDShort" type="rep:RepresentationDomainIDShort" use="required"/>
									<xs:attribute name="domainTag" type="xs:long" use="required"/>
									<xs:attribute name="attributeID" type="xs:int" use="optional">
										<xs:annotation>
											<xs:documentation>SST Attribute ID</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="valueMergeMode">
										<xs:annotation>
											<xs:documentation>Merge mode specifies how multiple samples of a specific representation can be combined.  See "valueMergeMode" under NumericRepresentation.  The default value for EnumeratedRepresentation's will be RandomSample. This attribute exist only for completeness.  If this attribute is not present, RandomSample is assumed.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="RandomSample"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
								<xs:unique name="LocalUniqunessWithinEnumeratedRepresentationRS">
									<xs:selector xpath="rep:Name"/>
									<xs:field xpath="@locale"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="RepresentationDomainIDUniquenessRS">
			<xs:selector xpath=".//*"/>
			<xs:field xpath="@domainID"/>
		</xs:unique>
		<xs:unique name="RepresentationShortDomainIDUniquenessRS">
			<xs:selector xpath=".//*"/>
			<xs:field xpath="@domainIDShort"/>
		</xs:unique>
		<xs:unique name="RepresentationDomainTagUniquenessRS">
			<xs:selector xpath=".//*"/>
			<xs:field xpath="@domainTag"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="NumericRepresentationValueType">
		<xs:annotation>
			<xs:documentation>The element name of the derived type of this complexType will be the domainID of the OperationalVariableType.
All derived elements must not extend this type with additional or modified attributes or child elements.
If additional attributes or child elements are required, extend this type will another complexType derived from this one.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="value" type="xs:double" use="required"/>
		<xs:attribute name="sourceUOM" type="unit:unitOfMeasureDomainID" use="required"/>
		<xs:attribute name="NumericRepresentation" type="rep:NumericRepresentationDomainID" use="required"/>
	</xs:complexType>
	<xs:complexType name="NumericRepresentationType">
		<xs:annotation>
			<xs:documentation>The element name of the derived type of this complexType will be the domainID of the OperationalVariableType.
All derived elements must not extend this type with additional or modified attributes or child elements.
If additional attributes or child elements are required, extend this type will another complexType derived from this one.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="sourceUOM" type="unit:unitOfMeasureDomainID" use="required"/>
		<xs:attribute name="NumericRepresentation" type="rep:NumericRepresentationDomainID" use="required"/>
	</xs:complexType>
	<xs:complexType name="EnumeratedRepresentationType">
		<xs:annotation>
			<xs:documentation>The element name of the derived type of this complexType will be the domainID of the OperationalVariableType.
All derived elements must not extend this type with additional or modified attributes or child elements.
If additional attributes or child elements are required, extend this type will another complexType derived from this one.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EnumeratedRepresentation" type="rep:EnumeratedRepresentationDomainID" use="required"/>
	</xs:complexType>
	<xs:element name="Number">
		<xs:complexType>
			<xs:attribute name="value" type="xs:double" use="required"/>
			<xs:attribute name="sourceUOM" type="bt:idRef" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumericRepresentationValue" type="rep:NumericRepresentationValueType"/>
	<xs:element name="NumericRepresentation">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="rep:NumericRepresentationType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="EnumeratedRepresentationValue">
		<xs:attribute name="value" type="xs:string" use="required"/>
		<xs:attribute name="EnumeratedRepresentation" type="rep:EnumeratedRepresentationDomainID" use="required"/>
	</xs:complexType>
	<xs:element name="EnumeratedRepresentationValue">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="EnumeratedRepresentation" type="rep:EnumeratedRepresentationDomainID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnumeratedRepresentation">
		<xs:complexType>
			<xs:attribute name="EnumeratedRepresentation" type="rep:EnumeratedRepresentationDomainID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="NumericRepresentationDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(vr)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RepresentationDomainIDShort">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-z|A-Z|0-9]){1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnumeratedRepresentationDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(dt)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnumeratedMemberRepresentationDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(dti)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UnitOfMeasurePreferenceType">
		<xs:sequence>
			<xs:element name="PresentationRange" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The min and max value contained in this element must be of the same unit of measure as the parent element. "UnitOfMeasurePreferenceType" derived element.
This element is optional in which case the default UOM range should be used.  If that is not specified then the digits in the parent node should be used.  If that does not exist then the digits in the default UOM should be used.  If that does not exist then the specification for the representation digits should be used.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="minValue" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>Unit of measure specified in parent element.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="maxValue" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>Unit of measure specified in parent element.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="unitOfMeasure" type="unit:unitOfMeasureDomainID" use="required"/>
		<xs:attribute name="digits" type="xs:short" use="optional">
			<xs:annotation>
				<xs:documentation>Represents the total number of digits</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="unitOfMeasureSystem" type="unit:unitSystemDomainID" use="required"/>
		<xs:attribute name="minValue" type="xs:double" use="optional"/>
		<xs:attribute name="maxValue" type="xs:double" use="optional"/>
		<xs:attribute name="decimal" type="xs:short" use="optional"/>
	</xs:complexType>
	<xs:complexType name="EnumeratedRepresentationValueType">
		<xs:annotation>
			<xs:documentation>The element name of the derived type of this complexType will be the domainID of the EnumeratedRepresentation.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EnumeratedMember" type="rep:EnumeratedRepresentationDomainID" use="required"/>
	</xs:complexType>
	<xs:simpleType name="RepresentationDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(vr|dt)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NumericRepresentationColumn">
		<xs:attribute name="columnID" type="xs:string" use="required"/>
		<xs:attribute name="sourceUOM" type="unit:unitOfMeasureDomainID" use="required"/>
		<xs:attribute name="NumericRepresentation" type="rep:NumericRepresentationDomainID" use="required"/>
	</xs:complexType>
	<xs:complexType name="EnumeratedRepresentationColumn">
		<xs:attribute name="columnID" type="xs:string" use="required"/>
		<xs:attribute name="EnumeratedRepresentation" type="rep:EnumeratedRepresentationDomainID" use="required">
			<xs:annotation>
				<xs:documentation>This should be the representation of the top level EnumeratedRepresentation if it belongs to a multiple level enumerated representation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
