source/Representation/Resources/UnitSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:unit="urn:schemas-adapt-aggateway-org:UnitSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bt="urn:schemas-adapt-aggateway-org:BasicTypes" targetNamespace="urn:schemas-adapt-aggateway-org:UnitSystem" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0.1">
	<xs:import namespace="urn:schemas-adapt-aggateway-org:BasicTypes" schemaLocation="basictypes.xsd"/>
	<xs:element name="UnitSystem">
		<xs:annotation>
			<xs:documentation>Root node of document.  This document defines constants type related information for use by RCD file specifications.  Only one file will exist using this schema that will be used as the master reference for all type information.  Versioning of this schema or the information in the master type definition file may constitute a version change in the RCD log file spec and other file specs that utilize this information as a reference.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SchemaVersion">
					<xs:annotation>
						<xs:documentation>Specifies the schema or format version of the file.
major format changes require new readers of this file type that understand that major version number.
Minor version changes reflect additions of attrubutes or nodes that can be ignored by previous version readers within the same major version number.
<CurrentFileSchemaVersion major="1" minor="1"/>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="major" type="xs:int" use="required" fixed="1"/>
						<xs:attribute name="minor" type="xs:int" use="required" fixed="1"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ContentVersion">
					<xs:annotation>
						<xs:documentation>Specifies the content version of the file.  It is assume that all readers will be forward compatible with all content versions of the same major version number as no changes can be made to delete Unit Dimensions, unit of measures or unit of measure systems.  Only additions of Unit Dimensions, unit of measures or unit of measure systems will be made.
Changes to or deletions of Unit Dimensions, unit of measures, or unit of measure systems will require an increment of a major version number.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="major" type="xs:int" use="required"/>
						<xs:attribute name="minor" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="SupportedLanguages">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Language" type="bt:languageCode" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="SupportLanguagesUniqueness">
						<xs:selector xpath="unit:Language"/>
						<xs:field xpath="."/>
					</xs:unique>
				</xs:element>
				<xs:element name="UnitDimensions">
					<xs:annotation>
						<xs:documentation>Unit Dimensions represent basic dimensions that can be applied to values such as distance, mass, volume, area, temperature, count and even multiple dimensions such as distance^2, mass/area, volume/area, count/area, count/time, etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UnitDimension" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The Unit Dimension represents a common type that will represent a set of unit of measures that have the same set of dimensions.
However, a UnitDimension can also have a set of Unit Dimension representations.  The reason for multiple representations is to account for Unit Dimensions such as area.  Area can be through of as a Unit Dimension with two distance dimensions but it can also have its own unit definition such as acres or hectares.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="UnitDimensionRepresentation">
												<xs:annotation>
													<xs:documentation>This Unit Dimension represenation is for single dimensional, dimensionless and aggregate Unit Dimensions such as acre or hectare.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="UnitOfMeasure" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>A unit of measure represents a specific unit of measure such as meters, feet, inches, etc. Each unit of measure will have a scale and a baseOffset.  These parameters would be used to convert from one UOM to another using the formula; value(target) = ((value(source) * scale(source)+baseOffset(source)) -baseOffset(target)) / scale(target)</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Name" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation>If locale does not exist, use "en" locale. If that does not exist take the first occurrence in the list.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:simpleContent>
																				<xs:extension base="xs:string">
																					<xs:attribute name="locale" type="bt:languageCode" use="required"/>
																					<xs:attribute name="label" type="xs:string" use="required"/>
																					<xs:attribute name="plural" type="xs:string" use="required"/>
																				</xs:extension>
																			</xs:simpleContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="domainID" type="unit:unitOfMeasureDomainID" use="required"/>
																<xs:attribute name="scale" type="xs:double" use="required"/>
																<xs:attribute name="baseOffset" type="xs:double" use="required"/>
																<xs:attribute name="uomID" type="xs:short" use="optional">
																	<xs:annotation>
																		<xs:documentation>uomID is optional temporarily.  We will take back to required</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="domainID" type="unit:unitRepresentationDomainID" use="required"/>
												</xs:complexType>
											</xs:element>
											<xs:element name="CompositeUnitDimensionRepresentation">
												<xs:annotation>
													<xs:documentation>This Unit Dimension representation is used for denoting Unit Dimensions of more than one dimension such as mass/area, bu/area, volume per area, acre*foot, etc.
The composite Unit Dimension does not have a set of unit of measures as they are implict from the referenced Unit Dimensions.
The referenced Unit Dimensions are placed into two categories.  Numerator and denomiator.  Rates for example would have a numberator Unit Dimension of mass and a denominator Unit Dimension of area.
A componsite Unit Dimension representation also has a scale and a baseOffset, (see UnitOfMeasure) that can be used if a Unit Dimension has more than one Unit Dimension representation for conversion between representations.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="UnitDimensionRef" maxOccurs="unbounded">
															<xs:complexType>
																<xs:attribute name="UnitDimensionRef" type="unit:unitDimensionDomainID" use="required"/>
																<xs:attribute name="power" use="optional" default="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:double"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="display" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation>displayText is optional.  If it does not exist it will take the format of the Unit Dimension referenced suffixed with the power if other than 1.  example ft^2.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="baseUnitOfMeasureRef" type="unit:unitOfMeasureDomainID" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="domainID" type="unit:unitRepresentationDomainID" use="required"/>
													<xs:attribute name="scale" type="xs:double" use="required"/>
													<xs:attribute name="baseOffset" type="xs:double" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:element name="Name" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="locale" type="bt:languageCode" use="required"/>
														<xs:attribute name="description" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="domainID" type="unit:unitDimensionDomainID" use="required"/>
								</xs:complexType>
								<xs:unique name="UnitOfMeasureLabelUniquenessUS">
									<xs:selector xpath=".//*/unit:UnitOfMeasure/unit:Name"/>
									<xs:field xpath="@locale"/>
									<xs:field xpath="@label"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="UnitDimensionDomainIDUniquenessUS">
						<xs:selector xpath="unit:UnitDimension"/>
						<xs:field xpath="@domainID"/>
					</xs:unique>
					<xs:unique name="UnitDimensionNameUniquenessUS">
						<xs:selector xpath="unit:UnitDimension/unit:Name"/>
						<xs:field xpath="@locale"/>
						<xs:field xpath="."/>
					</xs:unique>
				</xs:element>
				<xs:element name="UnitOfMeasureSystems">
					<xs:annotation>
						<xs:documentation>Unit of measure systems represent a classification for unit of measures such as English, Metric, Imperial, etc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UnitOfMeasureSystem" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="locale" type="bt:languageCode" use="required"/>
														<xs:attribute name="label" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="UnitOfMeasureRef" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>References are made from the Unit of measure system to the unit of measures since an unit of measure could belong to more than one unit of measure system.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="unitOfMeasureRef" type="unit:unitOfMeasureDomainID" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="domainID" type="unit:unitSystemDomainID" use="required"/>
								</xs:complexType>
								<xs:unique name="UnitOfMeasureSystemDomainIDUniquenessLocal">
									<xs:selector xpath="unit:UnitOfMeasureRef"/>
									<xs:field xpath="@unitOfMeasureRef"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="UnitOfMeasureSystemDomainIDUniquenessUS">
						<xs:selector xpath="unit:UnitOfMeasureSystem"/>
						<xs:field xpath="@domainID"/>
					</xs:unique>
					<xs:unique name="UnitOfMeasureSystemNameUniquenessUS">
						<xs:selector xpath="unit:UnitOfMeasureSystem/unit:Name"/>
						<xs:field xpath="@locale"/>
						<xs:field xpath="."/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="UnitOfMeasureDomainIDlUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitOfMeasure"/>
			<xs:field xpath="@domainID"/>
		</xs:unique>
		<xs:unique name="UnitOfMeasureNameUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitOfMeasure/unit:Name"/>
			<xs:field xpath="@locale"/>
			<xs:field xpath="."/>
		</xs:unique>
		<xs:unique name="UnitOfMeasurePluralUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitOfMeasure/unit:Name"/>
			<xs:field xpath="@locale"/>
			<xs:field xpath="@plural"/>
		</xs:unique>
		<xs:unique name="UnitRepresentationDomainIDUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitDimensionRepresentation"/>
			<xs:field xpath="@domainID"/>
		</xs:unique>
		<xs:keyref name="UnitSystemToUnitOfMeasureReferenceUS" refer="unit:UnitOfMeasureDomainIDlUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitOfMeasureSystem/unit:UnitOfMeasureRef"/>
			<xs:field xpath="@unitOfMeasureRef"/>
		</xs:keyref>
		<xs:keyref name="CompositeUnitRepresentationToUnitDimensionReferenceUS" refer="unit:UnitDimensionDomainIDUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitDimension/unit:CompositeUnitDimensionRepresentation/unit:UnitDimensionRef"/>
			<xs:field xpath="@UnitDimensionRef"/>
		</xs:keyref>
		<xs:keyref name="CompositeUnitRepresentationToBaseUnitOfMeasureReferenceUS" refer="unit:UnitOfMeasureDomainIDlUniquenessUS">
			<xs:selector xpath=".//*/unit:UnitDimension/unit:CompositeUnitDimensionRepresentation/unit:UnitDimensionRef"/>
			<xs:field xpath="@baseUnitOfMeasureRef"/>
		</xs:keyref>
	</xs:element>
	<xs:complexType name="ComponentUnitDimensionRefType">
		<xs:complexContent>
			<xs:extension base="bt:EntityLocalRefType">
				<xs:attribute name="power" use="optional" default="1">
					<xs:simpleType>
						<xs:restriction base="xs:double"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="display" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>displayText is optional.  If it does not exist it will take the format of the Unit Dimension referenced suffixed with the power if other than 1.  example ft^2.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="baseUnitOfMeasure" type="xs:IDREF" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnitDimensionRepresentationType">
		<xs:complexContent>
			<xs:extension base="bt:EntityLocalType">
				<xs:sequence>
					<xs:element name="UnitOfMeasure" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A unit of measure represents a specific unit of measure such as meters, feet, inches, etc.
Each unit of measure will have a scale and a baseOffset.  These parameters would be used to convert from one UOM to another using the formula;

value(target) = ((value(source) * scale(source)+baseOffset(source)) -baseOffset(target)) / scale(target)</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="bt:EntityLocalNamedType">
									<xs:attribute name="label" type="xs:string" use="required"/>
									<xs:attribute name="scale" type="xs:double" use="required"/>
									<xs:attribute name="baseOffset" type="xs:double" use="required"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompositeUnitDimensionRepresentationType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="NumeratorUnitDimension">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="unit:ComponentUnitDimensionRefType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="DenominatorUnitDimension">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="unit:ComponentUnitDimensionRefType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="domainID" type="unit:unitRepresentationDomainID" use="required"/>
		<xs:attribute name="scale" type="xs:double" use="optional"/>
		<xs:attribute name="baseOffset" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="unitDimensionDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ut)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitOfMeasureDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="\[?\[?([a-z|A-Z|_])*([a-z]|[A-Z])*\p{N}?\]?\p{N}?([a-z]|[A-Z])*\p{N}?\]?\p{N}?\[?([a-z|A-Z|_])*([a-z]|[A-Z])*\p{N}?\]?\-?\p{N}?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitRepresentationDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ur)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitSystemDomainID">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ums)([a-z|A-Z|0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UnitValueType">
		<xs:annotation>
			<xs:documentation>The element name of the derived type of this complexType will be the domainID of the OperationalVariableType.
All derived elements must not extend this type with additional or modified attributes or child elements.
If additional attributes or child elements are required, extend this type will another complexType derived from this one.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="value" type="xs:double" use="required"/>
		<xs:attribute name="sourceUOM" type="unit:unitOfMeasureDomainID" use="required"/>
		<xs:attribute name="targetUOM" type="unit:unitOfMeasureDomainID" use="optional"/>
	</xs:complexType>
</xs:schema>
